:root {
  --main-background: #ffffff;
  --card-color: #f2e6d8;
  --banner-color: #433930;
  --btn-color: #ddcfbd;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 2.5em;
  background: var(--main-background);
}

main h1 {
  margin-top: 4em;
  text-align: center;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Fonts sizes and headings */
:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 2em;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 1em;
}

hgroup p {
  font-size: 1.5rem;
}

article,
p,
ul,
table {
  font-size: 1rem;
}

sup {
  font-weight: normal;
  font-size: 0.8rem;
}

table caption {
  font-size: 1rem;
  margin-bottom: 1em;
}

/* Everything has the same box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  line-height: 1.5em;
}

main {
  background: var(--main-background);
  line-height: 1.5em;
}
main h1 {
  line-height: 1.5em;
}

p {
  margin: 1em 0;
}

/* Images are never taller than parent element */
img {
  max-width: 100%;
}

/* Navigation */
nav ul,
nav ol {
  list-style: none;
  padding: 0;
}
nav a {
  text-decoration: none;
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
table th,
table td {
  text-align: left;
  padding: 0 0.5em 0.5em 0.5em;
}

button {
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  border-style: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: auto;
}
button:hover {
  filter: brightness(95%);
  cursor: pointer;
}

.edit-btn {
  background-color: var(--btn-color);
}

.submit-btn {
  background-color: var(--btn-color);
}

#banner {
  text-align: center;
  color: black;
  background-color: var(--banner-color);
  background-image: url("../img/english-library.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}
#banner h1 {
  background-color: rgba(242, 230, 216, 0.8);
  font-size: 4rem;
  padding: 0.5em;
  margin: 1em 0;
  border-radius: 12px;
  border-style: solid;
  color: var(--banner-color);
}

/* Main navigation */
nav {
  background-color: var(--banner-color);
  color: white;
}

.menu {
  display: flex;
  justify-content: space-around;
}
.menu li {
  list-style: none;
  margin: 0.5em;
  font-size: large;
}
.menu a {
  text-decoration: none;
  color: white;
  padding: 0.2em 0.6em;
  display: block;
  border-radius: 12px;
  background: var(--banner-color);
}
.menu a:hover {
  filter: brightness(140%);
}

.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
  margin: 4rem auto;
  width: 70%;
}

.book {
  border-style: none;
  border-radius: 12px;
  background-color: var(--card-color);
  list-style: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition-duration: 0.2s;
  transition-property: filter, transform;
  max-width: 25em;
}
.book a {
  padding: 2rem;
  display: block;
  height: 100%;
  text-decoration: none;
  color: black;
}
.book a p {
  color: var(--banner-color);
}

#booklist-book:hover {
  filter: brightness(105%);
  transform: scale(1.05);
}

.bookdetail {
  padding: 2rem;
  display: flex;
  text-decoration: none;
  color: black;
  grid-column: 1/4;
}
.bookdetail h1 {
  margin-top: 0;
  text-align: start;
}
.bookdetail a {
  padding: 0;
  text-align: end;
}

#bookdetail-cover {
  width: 30rem;
}

#bookdetail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bookdetail-text {
  width: 100%;
  margin-left: 2rem;
}

#bookdetail-author {
  margin-bottom: 3rem;
}

.bookform {
  grid-column: 2/3;
  display: grid;
}
.bookform label {
  margin-bottom: 0.4rem;
  font-size: 1rem;
}
.bookform input,
.bookform textarea {
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  border-style: solid;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
}
.bookform textarea {
  height: 8rem;
}

/*# sourceMappingURL=main.css.map */
