:root {
    --card-color: #f2e6d8;
    --banner-color: #433930;
    --btn-color: #ddcfbd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

main h1 {
    margin-top: 4rem;
    text-align: center;
}

/* Buttons */
button {
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border-style: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: auto;
}
.edit-btn {
    background-color: var(--btn-color);

}

.submit-btn {
    background-color: var(--btn-color);
}

button:hover {
    filter: brightness(95%);
    cursor: pointer;
}



/* Page banner */
#banner {
    text-align: center;

    color: black;
    background-color: var(--banner-color);
    background-image: url("./img/english-library.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

#banner h1 {
    background-color: rgba(242, 230, 216, 0.8);
    font-size: 5rem;
    padding: 0 1rem;
    margin: 5rem 0;
    border-radius: 12px;
    border-style: solid;
    color: var(--banner-color);
}


/* Nav-Bar */
nav {
    background-color: var(--banner-color);
    color: white;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
    margin: 1rem;
    font-size: large;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 0.2rem;
}

.menu a:hover {
    text-decoration: underline;
}

/* BookList -> book list */
.books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 4rem auto;
    max-width: 100rem;
}

.book {
    border-style: none;
    border-radius: 12px;
    background-color: var(--card-color);
    list-style: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition-duration: 0.2s;
    transition-property: filter, transform;
}


.book a p {
    color: var(--banner-color);
}

.book a {
    padding: 2rem;
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
    
}

#booklist-book:hover {
    filter: brightness(105%);
    transform: scale(1.05);
}

/* BookDetail */

.bookdetail {
    padding: 2rem;
    display: flex;
    text-decoration: none;
    color: black;
    grid-column: 1 / 4;
}

.bookdetail h1 {
    margin-top: 0;
    text-align: start;
}

.bookdetail a {
    padding: 0;
    text-align: end;
}

#bookdetail-cover {
    width: 30rem;
    
}

#bookdetail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bookdetail-text {
    width: 100%;
    margin-left: 2rem;
}

#bookdetail-author {
    margin-bottom: 3rem;
}

/* Edit book form */


.bookform {
    grid-column: 2 / 3;
    display: grid;
}

.bookform label {
    margin-bottom: 0.4rem;
    font-size: 1rem;
}

.bookform input {
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    border-style: solid;
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
}